# Copy to terraform.tfvars and edit. terraform.tfvars is git-ignored.

aws_region   = "ap-southeast-2"
project_name = "mn521-enterprise"
environment  = "dev"

vpc_cidr             = "10.50.0.0/16"
public_subnet_cidrs  = ["10.50.1.0/24", "10.50.2.0/24"]
private_subnet_cidrs = ["10.50.11.0/24", "10.50.12.0/24"]

# REQUIRED: your own public IP with /32 (find it at https://checkip.amazonaws.com)
admin_cidr = "203.0.113.10/32"

instance_type      = "t3.micro"
enable_nat_gateway = false
